body {
	overflow-x: hidden;
	
}
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	background:#fff;
	z-index: 999;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
}
.logo {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 85px;
	font-family: montserrat;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
}
.nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	word-spacing: 30px;
	font-size: 12px;
	font-family: montserrat;
	text-transform: uppercase;
	font-weight: 700;
	right: 140px;
	letter-spacing: 2px;
}
.img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(bg.jpg);
	background-size: cover;
	background-position: 550px;
}
.tp {
	position: relative;
	top: 41.5%;
	transform: translateY(-50%);
	font-family: josefin sans;
	font-size: 52px;
	line-height: 60px;
	
	letter-spacing: -1.6px;
	color: #181d23;
	left: 80px;
	font-weight: 700;
	z-index: 2;

}
.ok {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
}
.p {
	position: relative;
	left: 81px;
	z-index: 2;	

	font-family: montserrat;
	position: relative;
	opacity: 0.8;
	float: left;
	margin-top:186px;
	font-size: 16px;
	line-height: 38px;
	width: 44%;
	font-weight: 300;
}
.division {
	width: 78%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: -300px;
	z-index: 1;
	transform: skewX(16deg);
}

.sec2 {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;

}

.tp2 {
	position: relative;
	top: 20%;
	transform: translateY(-50%);
	font-family: josefin sans;
	font-size: 38px;
	color: #181d23;
	font-weight: 600;
	letter-spacing: -1.2px;
	left: 140px;
}

.tp2 p {
	font-family: montserrat;
	position: absolute;
	opacity: 0.8;
	float: left;
	margin-top: -60px;
	font-size: 12px;
	line-height: 36px;
	width: 47.5%;
	left: 440px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.t1 {
	width: 80%;
	height: 120%;
	background: #f5f8ff;
	top: 30%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-position: 0px -100px;

	margin-top: 140px;
}


.img1 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	overflow: hidden;

}

.img1 img {
	float: left;
	position: relative;
	top: 0;
	width: 50%;
	height: 110%;

}

.heading2 {
	text-align: center;
	position: relative;
	margin-top: 50px;
	font-family: montserrat;
	font-size: 40px;
	color: #181d23;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 58px;
	word-spacing: -1px;

}

.sub {

	text-align: center;
	position: relative;
	margin-top: 12px;
	font-family: montserrat;
	font-size: 11px;

	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;


}

.text {


	text-align: center;
	position: relative;
	margin-top: 26px;
	font-family: montserrat;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	width: 72%;
	left: 50%;
	opacity: 0.8;
	transform: translateX(-50%);
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;



}
.bts {
	margin-top: 35px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
button {
	position: relative;
	width: 210px;
	height: 52px;
	border: none;
	background: #0762EF;
	font-family: montserrat;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1.4px;

}

.sec3 {
	position: absolute;
	top: 560%;
	left: 0;
	
	width: 100%;
	height: 370%;
	background: #f9f9f9;

}
table {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
td,th {
	border: 1px solid #fff;
	
}
.tp3 {
	text-align: center;
	color: #fff;
	text-align: center;
	position: relative;
	margin-top: 8px;
	font-family: montserrat;
	font-size: 48px;
	color: #3f54dd;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 58px;
	word-spacing: -1px;

}

.t {
	font-size: 16px;
	margin-top: 20px;
	letter-spacing: 0.4px;
}

.t2 {
	position: relative;
	width: 80%;
	height: 22%;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	top: 60px;
	overflow: hidden;

	margin-top: 140px;

}

.t2 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 44%;
}

.ht2 {
	left: 50%;
	position: relative;
	margin-top: 10px;
	font-family: montserrat;
	font-size: 38px;
	color: #181d23;
	letter-spacing: 0px;
	font-weight: 700;
	line-height: 58px;
	word-spacing: -1px;
}

.te {
		left: 50%;
	position: relative;
	margin-top: 30px;
	font-family: montserrat;
	font-size: 16px;
	color: #181d23;
	letter-spacing: 0px;
	font-weight: 400;
	width: 45%;
	line-height: 38px;
	word-spacing: -1px;
}

.subte {
		left: 50.3%;
	position: relative;
	margin-top: 60px;
	font-family: montserrat;
	font-size: 14px;
	color: #181d23;
	letter-spacing: 0px;
	font-weight: 700;
	width: 45%;
	line-height: 38px;
	text-transform: uppercase;
	letter-spacing:2px;
}


.sec4 {
	position: absolute;
	top: 910%;
	left: 0;
	
	width: 100%;
	height: 60%;
	background: #fff;

}